<div class="container-fluid" id="order-main-content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hitung Suara</h1>
        <!-- <div id="add-stocks-button"><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>New Order</i></a></div>
        <div id="return-button" hidden><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>Return</i></a></div> -->
    </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4" id="card-hitungsuara" hidden>
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BATAM KOTA - BELIAN - TPS 22</h6>
                    
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="on-going-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" id="tabel-caleg" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Nama</th>
                                                    <th>Jumlah Suara</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Gilang Solar</td>
                                                    <td>
                                                        <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Anto Selang</td>
                                                    <td>
                                                        <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                            <button id="submit-hitungsuara" class="btn btn-primary" type="button" disabled>
                                                <span id="loading-hitungsuara" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Submit</span>
                                            </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered table-hover table-striped" id="tabel-caleg" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Foto Hasil Perhitungan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="file" accept="image/*" name="buktiFoto" id="bukti-foto">
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <script>
                                // document.addEventListener('DOMContentLoaded', function() {
                                //     const orderGoingTable = $('#tabel-caleg').DataTable({
                                //         "order": [[0, 'desc']] // Mengurutkan berdasarkan kolom pertama secara menaik
                                //     });
                                // });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="card shadow mb-4" id="card-pilihcaleg">
        <div class="card">
            <!-- <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div> -->
            <div class="card-body">
                <div class="form-wrap">	
                    <form id="survey-form">
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="pilihdapil-label" for="pilih-jenis-hitung-suara">Pilih Jenis Hitung Suara</label>
                                        <select class="form-control scrollable-menu" id="pilih-jenis-hitung-suara" name="pilihJenisHitungSuara" onchange="pilihJenisHitungSuaraEvent()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Jenis Hitung Suara</option>
                                            <option value="1" data-price="{{price}}">Per-Dapil</option>
                                            <option value="2" data-price="{{price}}">Per-Kecamatan</option>
                                            <option value="3" data-price="{{price}}">Per-Kelurahan</option>
                                            <option value="4" data-price="{{price}}">Per-Caleg</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row" id="dapil-row" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="dapil-label" for="dapil-name">DAERAH PEMILIHAN</label>
                                        <select class="form-control scrollable-menu" id="pilih-dapil" name="pilihDapil" onchange="checkPilihDapil()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Dapil</option>
                                                <option value="1" data-price="{{price}}">DAPIL 1 BATAM KOTA - LUBUK BAJA</option>
                                                <option value="2" data-price="{{price}}">DAPIL 2 BENGKONG - BATU AMPAR</option>
                                                <option value="3" data-price="{{price}}">DAPIL 3 NONGSA - SEI BEDUK - BULANG - GALANG</option>
                                                <option value="4" data-price="{{price}}">DAPIL 4 SAGULUNG</option>
                                                <option value="5" data-price="{{price}}">DAPIL 5 BATU AJI</option>
                                                <option value="6" data-price="{{price}}">DAPIL 6 SEKUPANG - BELAKANG PADANG</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="kecamatan-row" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="dapil-label" for="dapil-name">KECAMATAN</label>
                                        <select class="form-control scrollable-menu" id="pilih-kecamatan" name="pilihKecamatan" onchange="checkPilihKecamatan()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Kecamatan</option>
                                                <option value="1" data-price="{{price}}">BATAM KOTA</option>
                                                <option value="2" data-price="{{price}}">LUBUK BAJA</option>
                                                <option value="3" data-price="{{price}}">BENGKONG</option>
                                                <option value="4" data-price="{{price}}">BATU AMPAR</option>
                                                <option value="5" data-price="{{price}}">NONGSA</option>
                                                <option value="6" data-price="{{price}}">SEI BEDUK</option>
                                                <option value="7" data-price="{{price}}">BULANG</option>
                                                <option value="8" data-price="{{price}}">GALANG</option>
                                                <option value="9" data-price="{{price}}">SAGULUNG</option>
                                                <option value="10" data-price="{{price}}">BATU AJI</option>
                                                <option value="11" data-price="{{price}}">SEKUPANG</option>
                                                <option value="12" data-price="{{price}}">BELAKANG PADANG</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="kelurahan-row" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="dapil-label" for="dapil-name">KELURAHAN</label>
                                        <select class="form-control scrollable-menu" id="pilih-kelurahan" name="pilihKelurahan" onchange="checkPilihKelurahan()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Kelurahan</option>
                                                <option value="1" data-price="{{price}}">BATU BESAR</option>
                                                <option value="2" data-price="{{price}}">KABIL</option>
                                                <option value="3" data-price="{{price}}">SAMBAU</option>
                                                <option value="4" data-price="{{price}}">NGENANG</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="caleg-row" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="dapil-label" for="dapil-name">CALEG</label>
                                        <select class="form-control scrollable-menu" id="pilih-caleg" name="pilihCaleg" onchange="checkPilihCaleg()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Caleg</option>
                                                <option value="1" data-price="{{price}}">ANTO SELANG</option>
                                                <option value="2" data-price="{{price}}">UJANG</option>
                                                <option value="3" data-price="{{price}}">UDIN</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button id="submit-jenis-hitung-suara" class="btn btn-primary" type="button" disabled>
                                    <span id="loading-pilih" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Submit</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>	
            </div>
        </div>
        <script>
            const pilihJenisHitungSuara = document.getElementById("pilih-jenis-hitung-suara");
            const buttonSubmitHitungSuara = document.getElementById("submit-jenis-hitung-suara");
            // Row
            const dapilRow = document.getElementById("dapil-row");
            const kecamatanRow = document.getElementById("kecamatan-row");
            const kelurahanRow = document.getElementById("kelurahan-row");
            const calegRow = document.getElementById("caleg-row");

            // Opsi pilih
            const pilihDapil = document.getElementById("pilih-dapil");
            const pilihKecamatan = document.getElementById("pilih-kecamatan");
            const pilihKelurahan = document.getElementById("pilih-kelurahan");
            const pilihCaleg = document.getElementById("pilih-caleg");
            function pilihJenisHitungSuaraEvent() {
                if (pilihJenisHitungSuara.selectedIndex === 1) {
                    dapilRow.removeAttribute("hidden");

                    // Menyembunyikan Opsi Lain
                    kecamatanRow.setAttribute("hidden", true)
                    kelurahanRow.setAttribute("hidden", true);
                    calegRow.setAttribute("hidden", true);
                    // Disabled button submit
                    buttonSubmitHitungSuara.setAttribute("disabled", true);
                    // Clear Selection
                    clearSelectionAll();
                } else if(pilihJenisHitungSuara.selectedIndex === 2){
                    kecamatanRow.removeAttribute("hidden");

                    // Menyembunyikan Opsi Lain
                    dapilRow.setAttribute("hidden", true);
                    kelurahanRow.setAttribute("hidden", true);
                    buttonSubmitHitungSuara.setAttribute("disabled", true);

                    // Clear Selection
                    clearSelectionAll();
                } else if(pilihJenisHitungSuara.selectedIndex === 3) {
                    kecamatanRow.removeAttribute("hidden");
                    kelurahanRow.removeAttribute("hidden");
                    // Menyembunyikan Opsi Lain
                    dapilRow.setAttribute("hidden", true)
                    calegRow.setAttribute("hidden", true);
                    buttonSubmitHitungSuara.setAttribute("disabled", true);

                    // Clear Selection
                    clearSelectionAll();
                } else if(pilihJenisHitungSuara.selectedIndex === 4){
                    calegRow.removeAttribute("hidden");

                    dapilRow.setAttribute("hidden", true);
                    kecamatanRow.setAttribute("hidden", true);
                    kelurahanRow.setAttribute("hidden", true);
                    buttonSubmitHitungSuara.setAttribute("disabled", true);

                    // Clear Selection
                    clearSelectionAll();
                } else {
                    dapilRow.setAttribute("hidden", true)
                    kecamatanRow.setAttribute("hidden", true)
                    kelurahanRow.setAttribute("hidden", true);
                    calegRow.setAttribute("hidden", true);

                    // Clear Selection
                    clearSelectionAll();
                }
            }
            function activeButtonSubmit() {
                // Mengizinkan button submit
                buttonSubmitHitungSuara.removeAttribute("disabled");
            }
            function deactiveButtonSubmit() {
                buttonSubmitHitungSuara.setAttribute("disabled", true);
            }
            function checkPilihDapil() {
                // Mengizinkan button submit
                if (pilihDapil.selectedIndex !== 0) {
                    activeButtonSubmit();
                } else {
                    deactiveButtonSubmit();
                }
            }
            function checkPilihKecamatan() {
                if (kelurahanRow.hidden) {
                    if (pilihKecamatan.selectedIndex !== 0) {
                        activeButtonSubmit();
                        return 0;
                    }
                }
                deactiveButtonSubmit();
            }
            function checkPilihKelurahan() {
                if (pilihKecamatan.selectedIndex !== 0 && pilihKelurahan.selectedIndex !== 0) {
                    activeButtonSubmit();
                } else {
                    deactiveButtonSubmit();
                }
            }

            function clearSelection(params) {
                params.selectedIndex = 0;
            }
            function clearSelectionAll() {
                clearSelection(pilihDapil);
                clearSelection(pilihKecamatan);
                clearSelection(pilihKelurahan);
                clearSelection(pilihCaleg);
            }
            // Event untuk triger button submit
            const loadingPilih = document.getElementById("loading-pilih")
            buttonSubmitHitungSuara.addEventListener("click", function (event) {
                event.preventDefault();

                loadingPilih.innerText = "";
                loadingPilih.classList.add("spinner-border");

                setTimeout(() => {
                    loadingPilih.classList.remove("spinner-border");
                    loadingPilih.innerText = "Submit";
                }, 1000);
            })

        </script>
    </div>
</div>
<script>
</script>