<div class="container-fluid" id="order-main-content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Input Suara</h1>
        <!-- <div id="add-stocks-button"><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>New Order</i></a></div>
        <div id="return-button" hidden><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>Return</i></a></div> -->
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="card-inputsuara" hidden>
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">BATAM KOTA - BELIAN - TPS 22</h6>
                
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="on-going-button">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="tabel-caleg" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nama</th>
                                                <th>Jumlah Suara</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Gilang Solar</td>
                                                <td>
                                                    <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Anto Selang</td>
                                                <td>
                                                    <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <button id="submit-inputsuara" class="btn btn-primary" type="button" disabled>
                                            <span id="loading-inputsuara" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Submit</span>
                                        </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered table-hover table-striped" id="tabel-caleg" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Foto Hasil Perhitungan <span class="required-text">*Required</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="file" accept="image/*" name="buktiFoto" id="bukti-foto">
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <span class="required-text"><h6><i>Note: Mohon input semua suara calon, untuk mengkalkulasi semua perhitungan suara.</i></h6></span>
                            </div>
                        </div>
                        <script>
                            // document.addEventListener('DOMContentLoaded', function() {
                            //     const orderGoingTable = $('#tabel-caleg').DataTable({
                            //         "order": [[0, 'desc']] // Mengurutkan berdasarkan kolom pertama secara menaik
                            //     });
                            // });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4" id="card-pilihcaleg" hidden>
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pilih Caleg</h6>
            </div>
            <div class="card-body">
                <div class="form-wrap">	
                    <form id="survey-form">
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="pilihdapil-label" for="pilih-dapil">Daerah Pemilihan</label>
                                        <select class="form-control scrollable-menu" id="pilih-dapil" name="pilihDapil" onchange="pilihDapilEvent()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Dapil</option>
                                            {{#dapil}}
                                                <option value="{{id}}" >Dapil {{nomor_dapil}} {{nama}}</option>
                                            {{/dapil}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="kecamatan-label" for="product_name">Kecamatan</label>
                                        <select class="form-control scrollable-menu" id="pilih-kecamatan" name="pilihKecamatan" onchange="pilihKecamatanEvent()" disabled onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Kecamatan</option>
                                                <option value="2" data-price="{{price}}">Batam Kota</option>
                                                <option value="2" data-price="{{price}}">Bengkong</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="kelurahan-label" for="product_name">Kelurahan</label>
                                        <select class="form-control scrollable-menu" id="pilih-kelurahan" name="pilihKelurahan" onchange="pilihKelurahanEvent()" disabled onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Kelurahan</option>
                                                <option value="2" data-price="{{price}}">Sadai</option>
                                                <option value="2" data-price="{{price}}">Bengkong Indah</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="caleg-label" for="product_name">Calon Legistlatif</label>
                                        <select class="form-control scrollable-menu" id="pilih-caleg" name="pilihCaleg" onchange="pilihCalegEvent()" disabled onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Caleg</option>
                                                <option value="2" data-price="{{price}}">Anto Selang</option>
                                                <option value="2" data-price="{{price}}">Ujang</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button id="submit-pilihcaleg" class="btn btn-primary" type="button" disabled>
                                    <span id="loading-pilih" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Submit</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>	
            </div>
        </div>
        <script>
            // Get Elemen Card by ID
            const cardInputSuara = document.getElementById("card-inputsuara");
            const cardPilihCaleg = document.getElementById("card-pilihcaleg");
            // Select Form
            const pilihDapil = document.getElementById("pilih-dapil");
            const pilihKecamatan = document.getElementById("pilih-kecamatan");
            const pilihKelurahan = document.getElementById("pilih-kelurahan");
            const pilihCaleg = document.getElementById("pilih-caleg");
            // Button Submit
            const submitPilihCaleg = document.getElementById("submit-pilihcaleg")
            const loadingPilih = document.getElementById("loading-pilih");
            // Function Event Select Form
            function pilihDapilEvent(){
                pilihKecamatan.selectedIndex = 0;
                pilihKelurahan.selectedIndex = 0;
                pilihCaleg.selectedIndex = 0;

                pilihKelurahan.setAttribute("disabled", true);
                pilihCaleg.setAttribute("disabled", true);
                if (pilihDapil.selectedIndex !== 0) {
                    pilihKecamatan.removeAttribute("disabled");
                } else {
                    pilihKecamatan.setAttribute("disabled", true);
                }
            }
            function pilihKecamatanEvent() {
                if (pilihKecamatan.selectedIndex !== 0) {
                    pilihKelurahan.removeAttribute("disabled");
                }
            }
            function pilihKelurahanEvent() {
                if (pilihKelurahan.selectedIndex !== 0) {
                    pilihCaleg.removeAttribute("disabled")
                }
            }
            function pilihCalegEvent() {
                if (pilihCaleg.selectedIndex !== 0) {
                    submitPilihCaleg.removeAttribute("disabled")
                }
            }
            // Menampilkan Form Input Suara
            function tampilkanInputSuara() {
                cardInputSuara.removeAttribute("hidden");
                cardPilihCaleg.setAttribute("hidden", true);
            }
            // Event untuk triger button submit
            submitPilihCaleg.addEventListener("click", function (event) {
                event.preventDefault();

                loadingPilih.innerText = "";
                loadingPilih.classList.add("spinner-border");

                setTimeout(() => {
                    loadingPilih.classList.remove("spinner-border");
                    loadingPilih.innerText = "Submit";
                    tampilkanInputSuara();
                }, 1000);
            })

        </script>
    </div> 
    <div class="card shadow mb-4" id="card-inputsuara-tps" hidden>
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nama Calegnya</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="tabel-inputsuara-pertps" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nomor TPS</th>
                                <th>Jumlah Suara</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TPS 1</td>
                                <td>
                                    <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                </td>
                                <td>
                                    <button id="submit-inputsuara" class="btn btn-primary" type="button">
                                        <span id="loading-inputsuara" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Update</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>TPS 2</td>
                                <td>
                                    <input type="number" min="0" value="0" name="jumlahSuara" id="jumlah-suara">
                                </td>
                                <td>
                                    <button id="submit-inputsuara" class="btn btn-primary" type="button">
                                        <span id="loading-inputsuara" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Update</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
    <div class="card shadow mb-4" id="card-pilihjenis-inputsuara">
        <div class="card">
            <div class="card-body">
                <div class="form-wrap">	
                    <form id="survey-form">
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="pilihdapil-label" for="pilih-dapil">Pilih Jenis Input Suara</label>
                                        <select class="form-control scrollable-menu" id="pilihjenis-inputsuara" name="pilihDapil" onchange="pilihJenisInputSuaraEvent()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Jenis Input Suara</option>
                                            <option value="1" >Input Suara TPS</option>
                                            <option value="2" >Input Suara Caleg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="input-suara-caleg-pilih-dapil" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="pilihdapil-label" for="pilih-dapil">Pilih Dapil</label>
                                        <select class="form-control scrollable-menu" id="pilih-dapil-input-semua-tps" name="pilihDapil" onchange="inputSuaraCalegPilihDapil()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Dapil</option>
                                            <option value="1" >Dapil 1 Batam Kota - Lubuk Baja</option>
                                            <option value="2" >Dapil 2 Bengkong - Batu Ampar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="input-suara-caleg-pilih-caleg" hidden>
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="pilihdapil-label" for="pilih-dapil">Pilih Caleg</label>
                                        <select class="form-control scrollable-menu" id="pilih-caleg-input-semua-tps" name="pilihDapil" onchange="inputSuaraCalegPilihCaleg()" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Pilih Jenis Input Suara</option>
                                            <option value="1" >Anto Selang</option>
                                            <option value="2" >Ujang Solar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button id="submit-pilihjenis-inputsuara" class="btn btn-primary" type="button" disabled>
                                    <span id="loading-pilihjenis-inputsuara" class="spinner-border-sm" role="status" style="margin-bottom: 10%;">Submit</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <script>
                        const cardPilihJenisInputSuara = document.getElementById("card-pilihjenis-inputsuara");
                        const pilihJenisInputSuara = document.getElementById("pilihjenis-inputsuara");
                        const buttonPilihJenisInputSuara = document.getElementById("submit-pilihjenis-inputsuara");
                        const loadingPilihJenisInputSuara = document.getElementById("loading-pilihjenis-inputsuara");
                        
                        const cardInputSuaraSuaraTps = document.getElementById("card-inputsuara-tps");

                        const rowInputSuaraCalegPilihDapil = document.getElementById("input-suara-caleg-pilih-dapil");
                        const rowInputSuaraCalegPilihCaleg = document.getElementById("input-suara-caleg-pilih-caleg");
                        const pilihDapilInputSemuaTps = document.getElementById("pilih-dapil-input-semua-tps");
                        const pilihCalegInputSemuaTps = document.getElementById("pilih-caleg-input-semua-tps");

                        const pilihJenisInputSuaraEvent = () => {
                            if (pilihJenisInputSuara.selectedIndex === 2) {
                                // buttonPilihJenisInputSuara.removeAttribute("disabled");
                                rowInputSuaraCalegPilihDapil.removeAttribute("hidden");

                            } else {
                                rowInputSuaraCalegPilihDapil.setAttribute("hidden", true);
                            }
                        }

                        buttonPilihJenisInputSuara.addEventListener("click", () => {
                            event.preventDefault();

                            loadingPilihJenisInputSuara.innerText = "";
                            loadingPilihJenisInputSuara.classList.add("spinner-border");

                            if (pilihJenisInputSuara.selectedIndex === 1) {
                                setTimeout(() => {
                                    loadingPilihJenisInputSuara.classList.remove("spinner-border");
                                    loadingPilihJenisInputSuara.innerText = "Submit";
                                    
                                    cardPilihCaleg.removeAttribute("hidden");
                                    cardPilihJenisInputSuara.setAttribute("hidden", true)
                                }, 1000);
                            } else if (pilihJenisInputSuara.selectedIndex === 2) {
                                setTimeout(() => {
                                    loadingPilihJenisInputSuara.classList.remove("spinner-border");
                                    loadingPilihJenisInputSuara.innerText = "Submit";
                                    
                                    cardInputSuaraSuaraTps.removeAttribute("hidden");
                                    cardPilihJenisInputSuara.setAttribute("hidden", true)
                                }, 1000);
                            }
                        });

                        function inputSuaraCalegPilihDapil() {
                            if (pilihDapilInputSemuaTps.selectedIndex !== 0) {
                                rowInputSuaraCalegPilihCaleg.removeAttribute("hidden")
                            }
                        }
                        function inputSuaraCalegPilihCaleg() {
                            if (pilihCalegInputSemuaTps.selectedIndex !== 0) {
                                buttonPilihJenisInputSuara.removeAttribute("disabled");
                            }
                        }
                    </script>
                </div>	
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const orderGoingTable = $('#tabel-inputsuara-pertps').DataTable({
            "order": [[0, 'asc']] // Mengurutkan berdasarkan kolom pertama secara menaik
        });
    });
</script>